body
{
background: linear-gradient(to right, #F7B733, #FC4A1A);
}

footer
{
background: linear-gradient(to right, #F7B733, #FC4A1A);
}

#blog-div
{
    background: linear-gradient(to left, white, gray);
    border: 5px solid green;
    border-radius:10px;
    padding: 10px;
}

#blog-div::after {
  content: "";
  position: absolute;
  top: -5px; /* Adjust as needed */
  left: -2px; /* Adjust as needed */
  right: -10px; /* Adjust as needed */
  bottom: -3px; /* Adjust as needed */
  z-index: -1;
  filter: blur(7px); 
}
